
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0a192f;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}



h2.titulo{
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: rgb(92, 92, 106);
}

button:hover{
    box-shadow: 0px 0px 8px rgb(251, 8, 8);
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4% 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    color: rgb(86, 97, 105);
    text-decoration-line: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0px 40px;
    font-size: 20px;
}


/* ESTILO DAS ESPECIALIDADES */

section.esp , .tec{
    padding: 40px 4%;
}

section.esp .flex , .tec{
    gap: 60px;
}

.esp .esp-box, .tec {
    color: aliceblue;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.esp .esp-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(240, 248, 255, 0.527);
}
    
.esp .esp-box i , .tec i {
    font-size: 70px;
    color: rgb(92, 92, 106);
}

.esp .esp-box h3 , .tec h3{
    font-size: 28px;
    margin: 15px 0;
}

.tec-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.tec .tec-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

/* SOBRE */

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: aliceblue;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color:  rgba(240, 248, 255, 0.527);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: darkgray;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTIFOLIO */

section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px;
    color: #ffffff1d;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0%;
    transition: 5s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.img-port:hover{
    background-position: 100%;
}

.overlai{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.468);
    opacity: 20%;
    transition: .5s;
}

.overlai:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO*/

section.contat{
    padding: 80px 4%;
}

form textarea{
    resize: none;
    max-height: 300;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RODAPE*/

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px;
    color: #ffffff1d;
}

footer .flex{
    justify-content: center;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid;
}

footer .line-footer p i{
    color: aliceblue;
    font-size: 22px;
}

footer .line-footer p a {
    color: aliceblue;
    margin: 20px;
}

@media screen and (max-width:1220px) {
    /* Geral */
    .flex{
        flex-direction: column;
    }
    /*cabeçalho*/
    .menu-desktop{
        display: none;
    }
    
}



